{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load static %}
{% load allauth account %}
{% block head_title %}
My loads 
{% endblock head_title %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/loads.css' %}">
{% endblock extra_head %}
{% block content %}
<div class="py-5"></div>
<div class="d-flex justify-content-between mt-4 mb-2 container-fluid">
    <h1 class="h5 ms-3">Load Listings</h1>
  <div class="filter-loads d-none d-md-flex">
        
        <a href="{% url 'loads:loads' %}">
          <button class="btn btn-primary btn-sm mx-1">All loads</button>
        </a>
        <form method="get" class="b-inline">
          <input type="type" name="load_type" value="F" hidden>
          <button class="btn btn-primary btn-sm mx-1" type="submit">Flatbed</button>
        </form>
        <form method="get" class="b-inline">
          <input type="type" name="load_type" value="R" hidden>
          <button class="btn btn-primary btn-sm mx-1" type="submit">Reefer</button>
        </form>
        <form method="get" class="b-inline">
          <input type="type" name="load_type" value="V" hidden>
          <button class="btn btn-primary btn-sm mx-1" type="submit">Van</button>
        </form>
        <form method="get" >
          <input type="type" name="load_type" value="S" hidden>
          <button class="btn btn-primary btn-sm mx-1" type="submit">Side Curtain</button>
        </form>
    </div>
</div>
<div class="table-responsive">
  <table class="table table-hover table-sm">
    <thead class="line bg-green">
      <tr>
        <th scope="col">Origin</th>
        <th scope="col">Destination</th>
        <th scope="col">Weight</th>
        <th scope="col">Type</th>
        <th scope="col">Rate</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
           
      {% for load in load_list %}
        {% if load.loadstatus.get_status_display != "Delivered" %}  
     <tr class="table-row cursor-auto" data-href="{% url 'loads:load' load.id %}" >
          <td class="text-truncate">{{ load.origin }}</td>
          <td class="text-truncate">{{ load.destination }}</td>
          <td class="text-truncate">{{ load.weight }}</td>
          <td class="text-truncate">{{ load.get_type_display }}</td>
          {% if user.is_authenticated %}
            <td class="text-truncate">{{ load.rate }}</td>
            {% else %}
          <td class="text-truncate"><a href="#hello">Sign Up</a><i class="bi bi-box-arrow-in-right"></i></td>

          {% endif %}
          {% if load.loadstatus.get_status_display == "Available" %}
          <td class="text-truncate">{{ load.loadstatus }} | Book Load</td>
          {% else %}
          <td class="text-truncate">{{ load.loadstatus }}</td>
          {% endif %}
      </tr>
      {% endif %}

      {% endfor %}
    </tbody>
  </table>
</div>
<script src="{% static 'js/loads.js' %}"></script>
{{ my_loads }}
{% endblock content %}