{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load static %}
{% load allauth account %}
{% block head_title %}
Home
{% endblock head_title %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extra_head %}
{% block content %}
<!-- Background image -->
<div class="bg-image ">
  <div class="overImg d-flex justify-content-center align-items-center">
    <div>
       <h1 class="heading text-white h4">Take the hussle out of finding loads</h1>
       <p class="text-white">Truckloader is an online platform for truckers to meet thousands of shippers online</p>
    </div>
  </div>
</div>
<!-- Background image -->


<div class="mt-4 mb-2 container">
    <h1 class="h5 ms-3">Our top 5 listings</h1>
    <div class="table-responsive">
    <table class="table table-hover table-sm">
        <thead class="line bg-green">
        <tr>
            <th scope="col">Origin</th>
            <th scope="col">Destination</th>
            <th scope="col">Weight</th>
            <th scope="col">Type</th>
            <th scope="col">Rate</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
            
        {% for load in load_list %}
        <tr class="table-row cursor-auto" data-href="{% url 'loads:load' load.id %}" >
            <td class="text-truncate">{{ load.origin }}</td>
            <td class="text-truncate">{{ load.destination }}</td>
            <td class="text-truncate">{{ load.weight }}</td>
            <td class="text-truncate">{{ load.get_type_display }}</td>
            {% if user.is_authenticated %}
                <td class="text-truncate">{{ load.rate }}</td>
            {% else %}
            <td class="text-truncate"><a href="#hello">Sign Up</a><i class="bi bi-box-arrow-in-right"></i></td>

            {% endif %}
            <td class="text-truncate text-success">{{ load.loadstatus }} | Book Load</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="blog-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6">
                    <h2 class="section-title">Services</h2>
                </div>
                <div class="col-md-6 text-start text-md-end">
                </div>
            </div>

            <div class="row">

                <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                    <div class="post-entry">
                        <a href="#" class="post-thumbnail"><img src="{% static 'images/frank-mckenna-tjX_sniNzgQ-unsplash.jpg' %}" alt="Image" class="img-fluid"></a>
                        <div class="post-content-entry">
                            <h3><a href="{% url 'loads:new_load' %}">Move Tour Freight</a></h3>
                            <div class="meta">
                                <span>Easy shipping</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                    <div class="post-entry">
                        <a href="#" class="post-thumbnail"><img src="{% static 'images/samsung-memory-RtOINPihAeQ-unsplash.jpg' %}" alt="truck img" class="img-fluid"></a>
                        <div class="post-content-entry">
                            <h3><a href="#">Status Tracking</a></h3>
                            <div class="meta">
                                <span>Easy Logistics</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                    <div class="post-entry">
                        <a href="#" class="post-thumbnail"><img src="{% static 'images/elevate-dI-aXC7DWpQ-unsplash.jpg' %}" alt="Image" class="img-fluid"></a>
                        <div class="post-content-entry">
                            <h3><a href="#">Online payment</a></h3>
                            <div class="meta">
                                <span>Trucking the easy way</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/loads.js' %}"></script>
{% endblock content %}